{{ if eq ( print site.Language) ("ja") }}
<div class="agreement-to-terms">
  <div class="w-full">
    <h6 class="mb-2 text-gray-700 text-md">
      個人情報利用について
    </h6>
    <p class="w-full px-4 py-3 mb-3 overflow-y-scroll text-gray-700 placeholder-gray-300 whitespace-pre-line bg-gray-100 bg-opacity-50 border border-white focus:ring-0 focus:border-white max-h-56 md:max-h-72">
      1. 事業者の氏名又は名称
      　アンダーズ株式会社

      2. 個人情報保護管理者（若しくはその代理人）の氏名又は職名、所属及び連絡先
      　個人情報保護管理者　管理部
      　連絡先：03-3230-0401

      3. 個人情報の利用目的
      　採用応募者の個人情報は、弊社の人事採用活動（書類審査、面接、評価、応募者への連絡等）のために利用いたします。

      4. 個人情報の第三者への提供
      　業務担当者又は担当候補者の紹介のために、氏名、所属、業務経歴書を、直接持参するか電子メール添付(パスワード付)で、当社取引先に提供します。

      5.個人情報取扱いの委託
      　当社は事業運営上、前項利用目的の範囲に限って個人情報を外部に委託することがあります。この場合、個人情報保護水準の高い委託先を選定し、個人情報の適正管理・機密保持についての契約を交わし、適切な管理を実施させます。

      6. 個人情報の開示等の請求
      　ご本人様は、当社に対してご自身の個人情報の開示等（利用目的の通知、開示、内容の訂正・追加・削除、利用の停止または消去、第三者への提供の停止）に関して、下記の当社問合わせ窓口に申し出ることができます。その際、当社はお客様ご本人を確認させていただいたうえで、合理的な期間内に対応いたします。

      【お問い合わせ窓口】
      　アンダーズ株式会社
      　個人情報問い合わせ窓口
      　〒102-0083 東京都千代田区麹町2-10-3
      　TEL：03-3230-0401
      　Mail：[contact@andaze.com](mailto:contact@andaze.com)
      　受付時間：9:00～18:00
      　（土・日曜日・祝日・年末年始は除く）

      7. 個人情報を提供されることの任意性について　
      　ご本人様が当社に個人情報を提供されるかどうかは任意によるものです。 ただし、必要な項目をいただけない場合、適切な対応ができない場合があります。
    </p>
  </div>
  <div class="text-center py-8 md:py-10">
    <input class="mr-2 leading-tight" type="checkbox" id="agree" required>
    <label class="font-bold text-center text-gray-500" for="agree">
      個人情報利用に同意します
    </label>
  </div>
</div>
{{ else }}
<div class="agreement-to-terms">
  <div class="w-full">
    <h6 class="mb-2 text-gray-700 text-md">
      Use of Personal Information
    </h6>
    <p class="w-full px-4 py-3 mb-3 overflow-y-scroll text-gray-700 placeholder-gray-300 whitespace-pre-line bg-gray-100 bg-opacity-50 border border-white focus:ring-0 focus:border-white max-h-56 md:max-h-72">
      1. Name of business
      　Andaze Corporation

      2. Name or title, affiliation and contact information of the personal information protection administrator (or its representative)
      　Personal Information Protection Administrator Administration Department
      　Contact: 03-3230-0401

      3. Purpose of use of personal information
      　Personal information of applicants for employment will be used for the Company's personnel recruitment activities (screening of documents, interview, evaluation, contact to applicants, etc.). 4.

      4. Provision of personal information to third parties
      　We will provide the name, affiliation, and work history of the applicant to our business partners for the purpose of introducing the candidate to the person in charge of the job or the candidate for the job, either in person or as an e-mail attachment (with a password).

      5. Outsourcing the handling of personal information
      　In the course of business operations, we may outsource the handling of personal information to outside parties within the scope of the purposes of use described in the previous section. In this case, we will select a contractor with a high level of personal information protection, sign a contract with the contractor regarding appropriate management and confidentiality of personal information, and have the contractor implement appropriate management.

      6. Request for Disclosure of Personal Information
      　A customer may request the Company to disclose his/her personal information (notification of purpose of use; disclosure; correction, addition, or deletion of content; suspension of use or deletion; suspension of provision to a third party) by contacting the Company's inquiry desk indicated below. We will respond to your request within a reasonable period of time after confirming your identity.

      [Inquiry window】
      　Andaze Co., Ltd.
      　Personal Information Inquiry Desk
      　2-10-3 Kojimachi, Chiyoda-ku, Tokyo 102-0083, Japan
      　TEL: 03-3230-0401
      　Mail: [contact@andaze.com](mailto:contact@andaze.com)
      　Office hours: 9:00-18:00
      　(Excluding Saturdays, Sundays, national holidays, and year-end and New Year holidays)

      Voluntary nature of providing personal information　
      　Whether or not you provide us with your personal information is voluntary. However, if you do not provide us with the required information, we may not be able to respond appropriately.

    </p>
  </div>
  <div class="text-center py-8 md:py-10">
    <input class="mr-2 leading-tight" type="checkbox" id="agree" required>
    <label class="font-bold text-center text-gray-500" for="agree">
      I agree to the terms
    </label>
  </div>
</div>
{{ end }}
