<table class="w-full">
  <tbody>
    {{ $currentLang := .Page.Site.Language.Lang }}
    {{ $subDirSlice := split (printf "%s" .Page.RelPermalink) "/" }}
    {{ $subDir := index $subDirSlice (sub (len $subDirSlice) 2) }}
    {{ range $index, $item := index .Page.Site.Data $currentLang $subDir }}
    <tr class="flex items-center p-8 border-0 {{ if eq (mod $index 2) 0 }}bg-gray-50{{ end }}">
      <th class="w-1/3 font-bold !m-0">{{ $item.key | markdownify }}</th>
      <td class="w-2/3 p-0">{{ $item.value | markdownify }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
