{{/* 

Minimum Usage
{{< picture >}}

Maximum usage
{{< picture alt="" anchor="" aspect="" class="" format="" hint="" quolity="" src="" type="" >}}

*/}}

{{ $alt := .Get "alt" }}
{{ $anchor := .Get "anchor" }}
{{ $class := .Get "class" }}
{{ $id := .Get "id" }}
{{ $format := .Get "format" }}
{{ $hint := .Get "hint" }}
{{ $quolity := .Get "quolity" }}
{{ $src := .Get "src" }}
{{ $type := .Get "type" }}


{{ $params := dict 
    "alt" $alt 
    "anchor" $anchor 
    "class" $class 
    "id" $id 
    "format" $format 
    "hint" $hint 
    "quolity" $quolity 
    "src" $src 
    "type" $type 
}}
{{ partial "atom-picture.html" (dict "params" $params "page" .Page) }}

