{{ define "main" }}
    <div class="container mx-auto mt-16">
        <img src="{{ `img/logo.png` | absURL }}" alt="Image Not Available">
    </div>
    <div class="container mx-auto px-5 py-5">
        {{ partial "breadcrumbs.html" . }}
    </div>
    <div class="container mx-auto px-5 py-5">
        {{ partial "molecule-section-services-tabview.html" . }}
        <div class="tab-content" id="tabs-tabContentFill">
            <div class="tab-pane fade show active" id="tabs-all" role="tabpanel" aria-labelledby="tabs-all-tabFill">
            All File SHow Here
            </div>
            <div class="tab-pane fade show" id="tabs-services" role="tabpanel" aria-labelledby="tabs-services-tabFill">
                Tab 1 services fill
            </div>
            <div class="tab-pane fade" id="tabs-reason" role="tabpanel" aria-labelledby="tabs-reason-tabFill">
                Tab 2 reason fill
            </div>
            <div class="tab-pane fade" id="tabs-casestudy" role="tabpanel" aria-labelledby="tabs-casestudy-tabFill">
                Tab 3 casestudy fill
            </div>
            <div class="tab-pane fade" id="tabs-solution" role="tabpanel" aria-labelledby="tabs-solution-tabFill">
                Tab 3 solution fill
            </div>
        </div>
    </div>
{{ end }}