{{ define "main" }}
<div class="l-top-animation">
  <!-- top.html を読み込むとアニメーションが表示されます -->
  {{- partial "top.html" . -}}
  <canvas id="myCanvas"></canvas>
</div>

<div class="l-top-content">
  <main>
    <div class="l-top-copy top-copy">
      <h1>
        <span>経営視点で</span><span>DXを</span><span>加速</span><span>プロ集団。</span>
      </h1>
    </div>

    <div class="l-top-container">
      <!-- <div class="l-wrapper l-index"> -->
      {{ .Content }}
      <!-- </div> -->
    </div>
  </main>

  {{- partial "footer.html" . -}}
</div>
  {{ $js := resources.Get "js/top.js" | resources.Minify }}
  <script defer src="{{ $js.Permalink }}"></script>
  
  <!-- {{ $js := resources.Get "js/sample.js" }} -->
  <!-- <script defer src="{{ $js.Permalink }}"></script> -->

{{ end }}
