<!DOCTYPE html>
{{ $lang:= print site.Language }}
<html lang="{{ $lang }}" class="scroll-smooth">
{{- partial "head.html" . -}}

{{ $class := "" }}
{{ if and (eq ( print site.Language) ("ja")) (.IsHome) }}
  {{ $class = "text-justify bg-black" }}
{{ else if eq ( print site.Language) ("ja") }}
  {{ $class = "text-justify" }}
{{ else if .IsHome  }}
  {{ $class = "bg-black" }}
{{ end }}


<body class="{{ $class }}">
  {{- partial "header.html" . -}}

  <!-- ローディング画面 -->
  <div id="loading" class="fixed z-40 flex justify-center w-full h-full bg-black pointer-events-none">
    <div class="absolute z-10 w-6 h-6 bg-white rounded-full animate-ping inset-1/2" id="loading_icon"></div>
  </div>

  <div class="transition-fade">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>
