{{ define "main" }}
<div class="fixed z-[-1] h-full">
  {{- partial "top.html" . -}}
</div>

<main class="mt-[1000px]">
  
  {{ .Scratch.Set "section" "news" }}
  {{ partial "template-section.html" . }}
  {{ .Scratch.Delete "section" }}

  {{ .Scratch.Set "section" "services" }}
  {{ partial "template-section.html" . }}
  {{ .Scratch.Delete "section" }}

  {{ range first 10 .Data.Pages }}
  {{ .Render "summary" }}
  {{ end }}

</main>

{{ $js := resources.Get "js/top.js" | resources.Minify }}
<script defer
        src="{{ $js.Permalink }}"></script>

{{ end }}
