{{ define "main" }}
    {{ $articleClass := "prose-h1:mb-14 prose-h2:mt-14 prose-h2:mb-6 prose-h3:mt-12 prose-h3:mb-4 prose-h4:mt-10 prose-h4:mb-2 prose-p:mb-[1.25em] prose-blockquote:mt-6 prose-h1:text-4xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-strong:text-lg" }}

    <div class="container px-5 py-5 mx-auto mt-16 lg:px-64">
        {{ partial "breadcrumbs.html" . }}
    </div>

    <div class="container px-5 pt-5 mx-auto mb-44 lg:px-64 ">
        <div class="pb-4 bg-white max-w-none">
            <span class="text-4xl font-bold">{{ .Page.Title }}</span>
        </div>
        <div class="pt-5 max-w-none {{ $articleClass }}">
            {{ .Content }}
        </div>
    </div>
{{ end }} 