html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family:
  Verdana, Geneva, Tahoma,
    Arial,
    "Helvetica Neue",
    "Helvetica",
    "Yu Gothic",
    "Hiragino Kaku Gothic Pro",
    "Hiragino Kaku Gothic ProN",
    sans-serif;
  font-weight: 500;
  color: $BODY_COLOR;
}

*::selection {
  background-color: $SELECT_COLOR;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}

h1 {
  @include font-size($FS1);
  @include media-query(s) {
    @include font-size($FS2);
  }
}
h2 {
  @include font-size($FS2);
  @include media-query(s) {
    @include font-size($FS3);
  }
}
h3 {
  @include font-size($FS3);
  @include media-query(s) {
    @include font-size($FS4);
  }
}
h4 {
  @include font-size($FS4);
  @include media-query(s) {
    @include font-size($FS5);
  }
}
h5, h6, p, a {
  @include font-size($FS5);
  @include media-query(s) {
    @include font-size($FS6);
  }
}
ul {
  list-style: none;
}