.button {
  display: block;
  width: fit-content;
  padding: auto;
  background-color: $BODY_BG_COLOR;
  color: $BODY_COLOR;
  text-decoration: none;
}

.list-section {
  margin-top: 5rem;

  p {
    margin-top: 1rem;
  }

  h2, h3, h4 {
    margin-top: 3rem;
  }

  ul {
    margin: 2rem 0 0 4rem;
    list-style: circle;
  }

  padding-bottom: 10rem;
}

details {
  margin-top: 1rem;
}