{{ $articleClass := "prose-h1:mb-14 prose-h2:mt-14 prose-h2:mb-6 prose-h3:mt-12 prose-h3:mb-4 prose-h4:mt-10 prose-h4:mb-2 prose-p:mb-[1.25em] prose-blockquote:mt-6 prose-h1:text-4xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-strong:text-lg prose-blockquote:border-l-4 prose-blockquote:border-gray-200 prose-blockquote:pl-2 prose-blockquote:text-gray-500 prose-ul:list-disc prose-ul:pl-6 prose-ul:py-2 prose-ol:list-decimal prose-ol:pl-6 prose-ol:py-2" }}

{{ $containerClass := .Scratch.Get "containerClass" }}

<div class="{{ $containerClass }} {{ $articleClass }}">
    {{ .Content }}
</div>
