<a
    {{if eq (.pageTitle) ("採用情報") }}
        href="https://www.andaze.com/job/ja/"
        target="_blank"
        rel="noopener noreferrer"
    {{ else if eq (.pageTitle) ("Recruit") }}
        href="https://www.andaze.com/job/en/"
        target="_blank"
        rel="noopener noreferrer"
    {{ else if or (eq (.pageTitle) ("ソリューション")) (eq (.pageTitle) ("導入事例")) }}
        href= "/WebCorporate/ja/services/"
    {{ else if or (eq (.pageTitle) ("Solution")) (eq (.pageTitle) ("Case study")) }}
        href= "/WebCorporate/en/services/"
    {{ else }}
        href="{{.pageLink}}"
    {{ end }}
    
    class="font-normal text-xs uppercase mb-2.5"
>
    {{ .pageTitle }}
</a>
