{{ $class := "w-screen h-96 md:h-[34rem] object-cover" }}

{{ if (eq . (.Site.GetPage "page" "company/message")) }}
    {{ $class = print $class " object-[82%_0]" }}
{{ else if (eq . (.Site.GetPage "page" "casestudy/case4")) }}
    {{ $class = print $class " object-[0_40%]" }}
{{ end }}

{{ .Scratch.Set "class" $class }}
{{ .Scratch.Set "format" "webp" }}
{{ .Scratch.Set "hint" "smart" }}
{{ .Scratch.Set "src" .Page.Params.headerImage.imageName }}
{{ .Scratch.Set "type" "full" }}

{{ partial "atom-picture.html" . }}

{{ .Scratch.Delete "class" }}
{{ .Scratch.Delete "format" }}
{{ .Scratch.Delete "hint" }}
{{ .Scratch.Delete "src" }}
{{ .Scratch.Delete "type" }}
