<div class="max-w-screen-xl mt-5 px-8 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto text-gray-900">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 ">
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">姓 <sup class="text-red-400">*</sup></span>
        <input class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
          type="text" placeholder="" name="full_name" id="full_name">
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">名 <sup class="text-red-400">*</sup></span>
        <input class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
          type="text" placeholder="" name="last_name" id="last_name">
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">会社名 <sup class="text-red-400">*</sup></span>
        <input class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
          type="text" placeholder="" name="company_name" id="company_name">
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">メールアドレス <sup class="text-red-400">*</sup></span>
        <input class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
          type="email" name="email" id="email" >
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">電話番号</span>
        <input class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
          type="text" name="contact_number" id="contact_number">
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">部門 <sup class="text-red-400">*</sup></span>
        <br>
        <select name="department" class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" id="department" required>
            <option value>--選択してください--</option>
            <option value="経営全般">経営全般</option>
            <option value="営業">営業</option>
            <option value="マーケティング・広報・企画">マーケティング・広報・企画</option>
            <option value="情報システム">情報システム</option>
            <option value="人事・総務">人事・総務</option>
            <option value="その他">その他</option>
          </select>
        
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">役職 <sup class="text-red-400">*</sup></span>
        <br>
        <select name="job_title" class="w-full text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" id="post" required>
            <option value>--選択してください--</option>
            <option value="経営者・役員">経営者・役員</option>
            <option value="部長クラス">部長クラス</option>
            <option value="課長・係長・主任クラス">課長・係長・主任クラス</option>
            <option value="一般社員">一般社員</option>
            <option value="個人">個人</option>
            <option value="学生">学生</option>
            <option value="その他">その他</option>
          </select>
      </div>
      <div>
        <span class="uppercase text-sm text-gray-600 font-bold">お問い合わせ内容</span>
        <textarea
          class="w-full h-32 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" name="inquiry_content" id="inquiry_content"></textarea>
      </div>
    </div>
    <div class="w-full">
      <span class="uppercase text-sm text-gray-600 font-bold">個人情報利用について</span>
      <textarea
        class="w-full h-32 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline">
1. 事業者の氏名又は名称
　 アンダーズ株式会社
2. 個人情報保護管理者（若しくはその代理人）の氏名又は職名、
　 所属及び連絡先
      個人情報保護管理者　管理部
      連絡先：03-3230-0401
3. 個人情報の利用目的
　  採用応募者の個人情報は、弊社の人事採用活動（書類審査、面接、評価、応募者への連絡等）のために利用いたします。
4. 個人情報の第三者への提供
　 業務担当者又は担当候補者の紹介のために、氏名、所属、業務経歴書を、直接持参するか電子メール添付(パスワード付)で、当社取引先に提供します。
5.個人情報取扱いの委託
　 当社は事業運営上、前項利用目的の範囲に限って個人情報を外部に委託することがあります。この場合、個人情報保護水準の高い委託先を選定し、個人情報の適正管理・機密保持についての契約を交わし、適切な管理を実施させます。
6. 個人情報の開示等の請求
　 ご本人様は、当社に対してご自身の個人情報の開示等（利用目的の通知、開示、内容の訂正・追加・削除、利用の停止または消去、第三者への提供の停止）に関して、下記の当社問合わせ窓口に申し出ることができます。その際、当社はお客様ご本人を確認させていただいたうえで、合理的な期間内に対応いたします。
  【お問い合わせ窓口】
　　アンダーズ株式会社
個人情報問い合わせ窓口
〒102-0083 東京都千代田区麹町2-10-3
TEL：03-3230-0401
　　Mail：contact@andaze.com
　　受付時間：9:00～18:00
　　（土・日曜日・祝日・年末年始は除く）
7. 個人情報を提供されることの任意性について　
　 ご本人様が当社に個人情報を提供されるかどうかは任意によるものです。 ただし、必要な項目をいただけない場合、適切な対応ができない場合があります。
      </textarea>
    </div>
    <div class="text-center pt-5 pb-2">
      <label class="text-center text-gray-500 font-bold">
        <input class="mr-2 leading-tight" type="checkbox" id="privacy" onclick="btnEnableDisable()">
        <a href="#" class="text-sm">
          個人情報利用に同意します
        </a>
      </label>
    </div>
    <div class="text-center">
        <button type="submit"
          class="uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg text-centerfocus:outline-none focus:shadow-outline opacity-50 cursor-not-allowed" id="submitButton" onclick="sendEmail()" disabled>
          ▶︎　問い合わせる 
        </button>
      </div>
</div>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
   function sendEmail()
  {
    let fName = document.getElementById('full_name').value;
    let lName = document.getElementById('last_name').value;
    let cName = document.getElementById('company_name').value;
    let email = document.getElementById('email').value;
    let contact_number = document.getElementById('contact_number').value;
    var d = document.getElementById("department");
    let department = d.value;
    var p = document.getElementById("post");
    let post =  p.value;
    let inquiryDetials = document.getElementById('inquiry_content').value;

    let body = `${fName} ${lName} は問い合わせフォームを埋めています。\n\n
    名 := ${fName} ${lName},\n
    会社名:= ${cName},\n
    メールアドレス := ${email},\n
    電話番号 := ${contact_number},\n
    部門:= ${department},\n
    役職:= ${post},\n
    お問い合わせ内容:= ${inquiryDetials},\n
    `
    let host = {{ .Site.Params.emailCredential.host }};
    let userName = {{ .Site.Params.emailCredential.userName }};
    let password = {{ .Site.Params.emailCredential.password }};
    let toMail = {{ .Site.Params.emailCredential.toMail }};
    let fromMail = {{ .Site.Params.emailCredential.fromMail }};

    Email.send({
      Host : host,
      Username : userName,
      Password : password,
      To : toMail,
      From : fromMail,
      Subject : `お問い合わせフォームから ${fName} ${lName}`,
      Body : body
    }).then(
      message => alert(message)
    );
  }
  function btnEnableDisable(){
    if(document.getElementById("privacy").checked)
    {
      document.getElementById("submitButton").disabled = false;
      document.getElementById("submitButton").classList.remove("opacity-50","cursor-not-allowed");
    }
    else
    {
      document.getElementById("submitButton").disabled = true;
      document.getElementById("submitButton").classList.add("opacity-50","cursor-not-allowed");
    }
  }
</script>