<header class="l-header header">
  <div class="header-wrapper">
    <div class="header-logo">
      <a href="/" class="">
        <img src="{{ .Site.Params.headerLogo | absURL }}" alt="andaze" height="40">
      </a>
    </div>
    <nav class="header-nav">
      <ul>
        {{ range .Site.Home.Sections }}
        {{ if .Params.menu.header.show }}
        <li><a href="{{ .Permalink | absURL }}">
            {{ with .Params.menu.header.name }}{{ . }}{{ else }}{{ .Title }}{{ end }}
          </a></li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>
    <div class="header-lang">
      <span>JP</span>
    </div>
  </div>
</header>