{{ if .Page.Params.headerVideo.videoTitle }}
    <div class="absolute top-1/2 -translate-y-1/2 left-0 w-full overflow-hidden bg-fixed">
        <div class="pl-8 lg:pl-44 text-xl text-justify">
            <div class="relative h-20">
            <h2 class="font-bold text-white text-2xl md:text-5xl mb-4">
                {{ .Page.Params.headerVideo.videoTitle }}
            </h2>
            </div>
            {{ if .Page.Params.headerVideo.videoDescription }}
            <h6 class="font-500 text-white text-xs md:text-xl md:pl-6 mb-4">{{ .Page.Params.headerVideo.videoDescription | markdownify }}</h6>
            {{ end }}
        </div>
    </div>
{{ end }}
{{ if  .Page.Params.headerVideo.videoName }}
    {{ $videoName:= printf "%s%s" (.Page.Params.headerVideo.videoName) ".mp4" }}
    <video playsinline muted autoplay loop class="w-screen h-full object-cover">
        <source src="/video/{{ $videoName }}">
    </video>
{{ end }}