<hr class="opacity-25"><div class="grid grid-cols-1 lg:grid-cols-2 gap-4 text-gray-500">
    <div class="text-center lg:text-left w-72 md:w-full lg-w-full mx-auto py-8">
        {{ partial "atom-footer-privacy-text.html" . }}
        {{ partial "atom-footer-socialmedia-privacy.html" . }}
        {{ partial "atom-footer-sitemap-text.html" . }}
    </div>
    <div class="text-center lg:text-right w-72 md:w-full lg-w-full mx-auto py-8">
        {{ partial "atom-footer-copyright-text.html" . }}
    </div>
</div>