{{ range .Pages }}
<div class="h-32 hover:text-white border border-gray-200 hover:bg-black focus:ring-4 focus:outline-none focus:ring-gray-300 font-bold text-2xl pt-8 pl-8 px-5 py-2.5 text-left mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-8000 relative">
    <div class="h-px w-4 absolute bottom-10 right-8 bg-gray-500"></div>
    <div class="h-px w-14 absolute bottom-10 right-12 bg-gray-300"></div>
    <a href="{{ .Permalink }}">
        {{ partial "atom-company-detailpage-title.html" . }}
    </a>
</div>
{{ end }}