{{ $class := "" }}
{{ if or (eq .Page.Params.cardImage ("shared.png")) (eq .Page.Params.cardImage ("recruit.png"))}}
    {{ $class = "hidden" }}
{{ end }}

<div class="bg-white shadow-xl bg-opacity-50 flex flex-col {{ $class }}">
    <div>
    <div class="px-2 md:px-0 text-center">
        <h2 class="text-black pt-3 md:pt-6 w-fit mx-auto font-bold text-xs md:text-lg">{{ .Title }}</h2>
        <h2 class="text-gray-500 pt-1 md:pt-2 w-fit mx-auto font-bold text-xs md:text-lg">{{ .Page.Params.titleEn }}</h2>
    </div>
    </div>
        <p>{{ .Page.Params.topText }}</p>
    </div>
</div>