{{ if  .Page.Params.headerImage.imageTitle }}
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full overflow-hidden bg-fixed">
        <div class="pl-8 md:pl-44 pt-40 md:pt-52 text-xl text-justify">
            <h2 class="font-bold text-white text-2xl md:text-5xl mb-4 w-11/12">
            {{ .Page.Params.headerImage.imageTitle }}
            </h2>
            <h6 class="font-500 text-white text-xs md:text-xl md:pl-6 mb-4">{{ .Page.Params.headerImage.imageDescription | markdownify }}</h6>
        </div>
    </div>
{{ end }}
{{ if  .Page.Params.headerImage.imageName }}
    {{ $class := "w-screen h-96 md:h-[34rem] object-cover" }}

    {{ if (eq . (.Site.GetPage "page" "company/message")) }}
        {{ $class = print $class " object-[82%_0]" }}
    {{ else if (eq . (.Site.GetPage "page" "casestudy/case4")) }}
        {{ $class = print $class " object-[0_40%]" }}
    {{ end }}
    
    {{ .Scratch.Set "class" $class }}
    {{ .Scratch.Set "format" "webp" }}
    {{ .Scratch.Set "hint" "smart" }}
    {{ .Scratch.Set "src" .Page.Params.headerImage.imageName }}
    {{ .Scratch.Set "type" "full" }}
    {{ .Scratch.Set "is-lazy" false }}
    
    {{ partial "atom-picture.html" . }}
    
    {{ .Scratch.Delete "class" }}
    {{ .Scratch.Delete "format" }}
    {{ .Scratch.Delete "hint" }}
    {{ .Scratch.Delete "src" }}
    {{ .Scratch.Delete "type" }}
    {{ .Scratch.Delete "is-lazy" }}
{{ end }}