{{ $title := default "" (.Scratch.Get "title") }}
{{ $text := default "" (.Scratch.Get "text") }}
{{ $src := default "" (.Scratch.Get "src") }}
{{ $reverse := default false (.Scratch.Get "reverse") }}

{{ $class := "" }}
{{ if $reverse }}
    {{ $class = "lg:flex-row-reverse" }}
{{ else }}
    {{ $class = "lg:flex-row" }}
{{ end }}

<div class="flex flex-col {{ $class }} lg:gap-10 mt-24">
    <div class="lg:w-1/2">
        <h3 class="!mt-0">{{ $title }}</h3>
        <p>{{ $text | markdownify }}</p>
    </div>
    <div class="lg:w-1/2 h-80">
        {{ .Scratch.Set "class" "h-full w-full object-cover" }}
        {{ .Scratch.Set "format" "webp" }}
        {{ .Scratch.Set "hint" "smart" }}
        {{ .Scratch.Set "src" $src }}
        {{ .Scratch.Set "type" "full" }}
        {{ .Scratch.Set "is-lazy" false }}
    
        {{ partial "atom-picture.html" . }}
    
        {{ .Scratch.Delete "class" }}
        {{ .Scratch.Delete "format" }}
        {{ .Scratch.Delete "hint" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "is-lazy" }}
    </div>
</div>

