<div class="flex flex-col">
    <h2 class="text-3xl font-extrabold uppercase">
        news
        <h2 class="text-3xl font-extrabold">
        </h2>
        <nav>
            <div class="mb-5">
                <div class="flex gap-5">
                    <button class="border inline-block rounded-full relative w-16 h-16">
                    </button>
                    <button class="border inline-block rounded-full relative w-16 h-16">
                    </button>
                </div>
            </div>
            <ol>
                <li>
                    <a class="border p-5 inline-block"
                       href="#">
                    </a>
                </li>
            </ol>
        </nav>
</div>
