
{{if or (eq (.Scratch.Get "section") ("news")) (eq (.Scratch.Get "section") ("casestudy")) (eq (.Scratch.Get "section") ("sustainability")) }}
    
    {{ with .Site.GetPage (.Scratch.Get "section") }}
    <ul class="pt-2">
        <li>
            {{ .Scratch.Set "backgroundTheme" "white" }}
            {{ partial "atom-irnews-button.html" .}}
            {{ .Scratch.Delete "backgroundTheme"}}
        </li>
    </ul>
    {{ end }}

{{ else if eq (.Scratch.Get "section") ("recruit") }}
    {{ with .Site.GetPage (.Scratch.Get "section") }}
        {{ .Scratch.Set "buttonLink" "recruit" }}
        {{ partial "atom-irnews-button.html" .}}
        {{ .Scratch.Delete "buttonLink"}}
    {{ end }}

{{ else }}
    {{ with .Site.GetPage (.Scratch.Get "section") }}
    <ul class="pt-2">
        <li>
            {{ .Scratch.Set "backgroundTheme" "black" }}
            {{ partial "atom-irnews-button.html" .}}
            {{ .Scratch.Delete "backgroundTheme"}}
        </li>
    </ul>
    {{ end }}
{{ end }}