{{ $class := "" }}
{{ if eq .Page.Params.cardImage ("recruit.png") }}
    {{ $class = "hidden" }}
{{ end }}

{{ $heightClass := "" }}
{{ if eq ( print site.Language) ("ja") }}
  {{ $heightClass = "h-16" }}
{{ else }}
  {{ $heightClass = "h-12" }}
{{ end }}

{{ $textHeightClass := "" }}
{{ if eq ( print site.Language) ("ja") }}
  {{ $textHeightClass = "h-32" }}
{{ else }}
  {{ $textHeightClass = "h-44" }}
{{ end }}

<div class="sm:h-auto bg-white shadow-xl bg-opacity-50 flex flex-col {{ $class }}">
    <div>
        {{ $params := dict
          "class" "w-full h-32 sm:h-52 pt-2 sm:pt-6 px-2 sm:px-6 object-cover"
          "format" "webp"
          "hint" "smart"
          "src" .Page.Params.cardImage
          "type" "thumbnail"
        }}
        {{ partial "atom-picture.html" (dict "params" $params "page" .Page) }}
        <div class="px-2 sm:px-0 text-center {{ $heightClass }} sm:h-auto">
            <h2 class="text-black pt-3 sm:pt-6 w-fit mx-auto font-bold text-xs sm:text-lg">{{ .Title }}</h2>
            <h2 class="text-gray-500 pt-1 sm:pt-2 w-fit mx-auto font-bold text-xs sm:text-lg">{{ .Page.Params.titleEn }}</h2>
        </div>
    </div>
    <p>{{ .Page.Params.subtitle }}</p>
    <a href="{{ .Permalink }}" class="w-full text-white hover:text-black border-gray-500 hover:bg-white bg-black border focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-sm text-sm py-4 text-center mx-auto mt-4 inline-flex justify-center mx-auto">View More</a>
</article>
