{{ $currentListPage:= .Section }}
{{ $currentDetailPage:= path.Base .Permalink }}
<div class="w-60 h-auto shadow-md bg-white px-1">
    <ul>
        {{ with .Site.GetPage $currentListPage}}
            <li>
               {{ partial "atom-detailpage-sidebar-listpage-title.html" . }}
            <ul>

            {{ $section := site.GetPage (.Section) }}
            {{ range $section.Pages}}
                <li>
                    {{ partial "atom-detailpage-sidebar-detailpage-title.html" ( dict "context" . "currentDetailPage" $currentDetailPage ) }}
                </li>
            {{ end }}
            </ul>
        </li>
      {{ end }}
    </ul>
</div>