<nav class="bg-black top-0 fixed w-full z-50" id="header_nav">
    <div class="flex flex-wrap justify-between items-center mx-auto p-2">
        <!-- Start responsive time show button for menu list -->
        <div class="ml-3 lg:hidden flex items-center">
            <button class="outline-none mobile-menu-button">
                <svg class=" w-6 h-6 text-gray-500 hover:text-white " x-show="!showMenu" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <!-- End responsive time show button for menu list -->
        <div class="w-40">
            {{ partial "atom-navbar-img.html" . }}
        </div>
        {{ partial "atom-navbar-language-search.html" . }}
        {{ partial "molecule-navbar-menu.html" . }}
    </div>
    <!-- Start Respinsive Menu List -->
    <div class="hidden mobile-menu overflow-y-scroll h-screen w-screen pb-14">
        <ul class="mt-6 mb-6">
            {{ range .Site.Menus.main }}
                <li class="text-white p-3 pl-8"><a href="{{ .URL | absLangURL }}" {{ if or (eq (.Name) ("採用情報")) (eq (.Name) ("recruit")) }}target="_blank" rel="noopener noreferrer" {{ end }}>{{ .Name }}</a> </li>
            {{ end }}
        </ul>
        <hr>
        <div class="text-white flex text-sm p-4 items-center">
            {{ partial "atom-footer-facebook-icon.html" . }}
        </div>
    </div>
    <script>
        var btn = document.querySelector("button.mobile-menu-button");
        var menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
    <!-- End Respinsive Menu List -->
  </nav>