{{ $class := ""}}
{{ if eq (.Scratch.Get "section") "solution" }}
    {{ $class = "hidden"}}
{{ else if eq (.Scratch.Get "section") "youtube" }}
    {{ $class = "hidden md:flex"}}
{{ end }}

<div>
    {{ if or (eq (.Scratch.Get "section") "solution") (eq (.Scratch.Get "section") "news") (eq (.Scratch.Get "section") "casestudy") (eq (.Scratch.Get "section") "sustainability") (eq (.Scratch.Get "section") "youtube") }}
        {{ partial "atom-irnews-heading.html" . }}
        <div class="flex flex-row mt-5 mb-5 md:mb-12 lg:mb-12 {{ $class }}">
            {{ partial "atom-newtopic-sliderbutton.html" . }}
        </div>
        <div class="hidden md:block lg:block">
            {{ partial "molecule-section-irnews-buttongroup.html" . }}
        </div>
    {{ end }}
</div>
