{{ $content := .Content | safeHTML }}
{{ $h2s := findRE "<h2 id=\".*\">.*</h2>" $content }}

{{ $text := "" }}
{{ if eq ( print site.Language) ("ja") }}
    {{ $text = "【資料で分かること】" }}
{{ else }}
    {{ $text = "[ What the documents reveal ]" }}
{{ end }}

<div class="w-screen h-96 md:h-[34rem] 2xl:h-full 2xl:aspect-[11/3] object-cover bg-[#651665] flex justify-center flex-col">

    <div class="flex w-4/5 max-w-6xl mx-auto gap-12">
        {{ .Scratch.Set "class" "w-52 h-auto lg:w-96" }}
        {{ .Scratch.Set "format" "webp" }}
        {{ .Scratch.Set "hint" "smart" }}
        {{ .Scratch.Set "src" .Page.Params.cardImage }}
        {{ .Scratch.Set "type" "full" }}
        {{ .Scratch.Set "is-lazy" false }}
        
        {{ partial "atom-picture.html" . }}
        
        {{ .Scratch.Delete "class" }}
        {{ .Scratch.Delete "format" }}
        {{ .Scratch.Delete "hint" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "is-lazy" }}
    
        <div class="text-left text-white prose-h2:font-normal">
            <h1 class="text-3xl">{{ .Title }}</h1>
            <div class="mt-4 text-xl">
                <span>{{ $text }}</span>
                <ul class="ml-8 mt-2">
                    {{ range $h2s }}
                        <li class="list-disc">
                            {{ . | safeHTML }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>