{{ $swiperName := "" }}
{{ if eq (.Scratch.Get "section") "news" }}
    {{ $swiperName = "newsSwiper" }}
{{ else if eq (.Scratch.Get "section") "casestudy" }}
    {{ $swiperName = "casestudySwiper" }}
{{ else if eq (.Scratch.Get "section") "sustainability" }}
    {{ $swiperName = "sustainabilitySwiper" }}
{{ else if eq (.Scratch.Get "section") "youtube" }}
    {{ $swiperName = "youtubeSwiper" }}
{{ end }}

{{ $youtubeMovies := getJSON "https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=UCfjT9TH2TOy7QRp1X_Ibr4A&maxResults=50&order=date&type=video&key=AIzaSyCQdG7SoPSJVX-vhkkzhjSB6luh6a8Kyno" }}


{{ if or (eq (.Scratch.Get "section") "news") (eq (.Scratch.Get "section") "casestudy") (eq (.Scratch.Get "section") "sustainability") }}
    <div class="flex flex-col sm:flex-row px-4 sm:pl-2 md:pl-4">

        <div #swiperRef="" class="swiper {{ $swiperName }} w-full">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage (.Scratch.Get "section") }}
                    {{ range .Pages }}
                        {{ partial "molecule-section-newtopic-slide.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="flex justify-center lg:hidden mt-5">
        {{ partial "molecule-section-irnews-buttongroup.html" . }}
    </div>

    <div id="movie-modal" class="fixed inset-0 w-screen h-screen bg-black bg-opacity-50 opacty-0 invisible z-50 transition select-none">
        <div class="absolute -translate-x-1/2 -translate-y-2/3 top-2/3 left-1/2 w-[95%] h-[60%] md:w-[80%] md:h-[80%] bg-white">
            <div id="modal-close" class="absolute top-5 right-5 cursor-pointer text-3xl">×</div>
            <div class="w-[95%] h-[50%] md:w-[73%] md:h-[80%] absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                <iframe id="youtube-video" width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

{{ else if eq (.Scratch.Get "section") "ir" }}
    <div class="mt-2">
        {{ .Scratch.Set "backgroundTheme" "black" }}    
        {{ partial "molecule-section-irnews-pdf-listing.html" . }}
        {{ .Scratch.Delete "backgroundTheme" }}
    </div>
    <div class="flex justify-center lg:hidden mt-5">
        {{ partial "molecule-section-irnews-buttongroup.html" . }}
    </div>

{{ else if (and (eq (.Scratch.Get "section") "youtube") $youtubeMovies) }}

    {{/*  固定表示動画  */}}
    <div class="flex flex-col-reverse sm:flex-row lg:flex-row-reverse gap-[30px] mb-12 px-4 sm:pl-2 md:pl-4 pt-10 pb-10 bg-gray-100 sm:overflow-scroll lg:overflow-auto">

        {{ if eq (.Lang) ("en") }}
            {{ range $youtubeMovies.items }}
                {{ if or 
                    (eq .snippet.title "Company guide from the president. - Andaze Ltd.") 
                    (eq .snippet.title "ジェネリックCRMのご紹介 ～限界なくお客様の要望を実現～") 
                    (eq .snippet.title "持続可能なシステムを廉価につくる技術 ～サブスクの取捨選択とPaaSのススメ～") 
                }}
                    <div class="sm:shrink-0 md:w-[47%] lg:w-1/3 lg:shrink">
                        <img class="cursor-pointer h-[180px] w-full object-cover m-0 movie-thumbnail" src={{ .snippet.thumbnails.high.url }} id={{ .id.videoId }}>
                        <p class="font-bold pt-5 text-sm">{{ .snippet.title }}</p>
                    </div>
                {{ end }}
            {{ end }}
        {{ else }}
            {{ range $youtubeMovies.items }}
                {{ if or 
                    (eq .snippet.title "アンダーズ株式会社　代表が説明する会社案内") 
                    (eq .snippet.title "ジェネリックCRMのご紹介 ～限界なくお客様の要望を実現～") 
                    (eq .snippet.title "持続可能なシステムを廉価につくる技術 ～サブスクの取捨選択とPaaSのススメ～") 
                }}
                    <div class="sm:shrink-0 md:w-[47%] lg:w-1/3 lg:shrink">
                        <img class="cursor-pointer h-[180px] w-full object-cover m-0 movie-thumbnail" src={{ .snippet.thumbnails.high.url }} id={{ .id.videoId }}>
                        <p class="font-bold pt-5 text-sm">{{ .snippet.title }}</p>
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}

    </div>

    <div class="flex flex-row mt-5 mb-5 md:mb-12 lg:mb-12 md:hidden">
        {{ partial "atom-newtopic-sliderbutton.html" . }}
    </div>
    <div id="youtubeList" class="flex flex-col sm:flex-row justify-between px-4 sm:pl-2 md:pl-4">
        <div #swiperRef="" class="swiper {{ $swiperName }} w-full">
            <div class="swiper-wrapper">
                {{ range $youtubeMovies.items }}
                    {{/*  #shortsの動画と固定表示の動画は表示しない  */}}
                    {{ if and 
                        (not (in .snippet.title "#shorts")) 
                        (ne .snippet.title "Company guide from the president. - Andaze Ltd.") 
                        (ne .snippet.title "アンダーズ株式会社　代表が説明する会社案内") 
                        (ne .snippet.title "ジェネリックCRMのご紹介 ～限界なくお客様の要望を実現～") 
                        (ne .snippet.title "持続可能なシステムを廉価につくる技術 ～サブスクの取捨選択とPaaSのススメ～") 
                    }}
                        <div class="swiper-slide">
                            <img class="cursor-pointer h-[180px] w-full object-cover m-0 movie-thumbnail youtube-slide" src={{ .snippet.thumbnails.high.url }} id={{ .id.videoId }}>
                            <p class="font-bold pt-5 text-sm">{{ .snippet.title }}</p>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>     
    </div>
    <div class="flex justify-center lg:hidden mt-5">
        {{ partial "molecule-section-irnews-buttongroup.html" . }}
    </div>

{{ else }}
    {{ partial "organism-section-contents.html" . }}
{{ end }}


