{{ $class_grid := "" }}
{{ if .IsHome  }}
  {{ $class_grid = "xl:grid-cols-4" }}
{{ else }}
  {{ $class_grid = "xl:grid-cols-5" }}
{{ end }}

{{ with .Site.GetPage "section" (.Scratch.Get "section") }}

{{ $class_image := "" }}
{{ if eq .Section "services" }}
    {{ $class_image = "object-contain h-24 lg:h-28 mx-auto my-3 lg:my-6" }}
{{ else }}
    {{ $class_image = "object-cover w-full h-32 md:h-40 lg:h-44" }}
{{ end }}

<div class="grid grid-cols-2 sm:grid-cols-3 {{ $class_grid }} 2xl:grid-cols-5 gap-4 not-prose">
  {{ range .Pages }}
      <a href="{{ .RelPermalink }}" rel="noopener noreferrer" class="border border-gray-600 w-full bg-gray-50">
        <div class="w-full h-fit overflow-hidden">
            {{ .Scratch.Set "class" $class_image }}
            {{ .Scratch.Set "format" "webp" }}
            {{ .Scratch.Set "hint" "smart" }}
            {{ if .Page.Params.cardImage }}
                {{ .Scratch.Set "src" .Page.Params.cardImage }}
            {{ end }}
            {{ .Scratch.Set "type" "thumbnail" }}
            {{ .Scratch.Set "is-lazy" false }}
            
            {{ partial "atom-picture.html" . }}
            
            {{ .Scratch.Delete "class" }}
            {{ .Scratch.Delete "format" }}
            {{ .Scratch.Delete "hint" }}
            {{ .Scratch.Delete "src" }}
            {{ .Scratch.Delete "type" }}
            {{ .Scratch.Delete "is-lazy" }}

            <div class="text-gray-600 text-xs py-6 px-4 h-1/2 lg:min-h-0 lg:h-fit">
                <h2 class="pb-2 w-fit mx-auto font-bold text-left">{{ .Title }}</h2>
                <h3>{{ .Description }}</h3>
            </div>
        </div>
      </a>
    {{ end }}
</div>

{{ end }}