<div class="columns-1">
    {{ partial "organism-section-news-tab-headers.html" . }}
</div>
<div class="columns-1"> 
    <div class="tab-content" id="tabs-tabContentFill">
        <div class="tab-pane fade show active" id="tabs-all" role="tabpanel" aria-labelledby="tabs-all-tabFill">
            {{ partial "organism-section-news-listing.html" (dict "context" . "tabName" "all") }}
        </div>
        {{ $tags:= slice }}
        {{ range .Pages }}
            
            {{ $tags = .Params.tags }}
            {{$array:= len $tags }}
            {{$pageData:= . }}
            
            {{ if eq $array 1}}
                {{ $tagName:= delimit .Params.tags ", " }}
                <div class="tab-pane fade show" id="tabs-{{ $tagName }}" role="tabpanel" aria-labelledby="tabs-{{ $tagName }}-tabFill">
                    {{ partial "organism-section-news-listing.html" (dict "context" . "tabName" $tagName) }}
                </div>
            {{ end }}

            {{ if eq $array 2}}
                {{ range .Params.Tags }}
                {{ $tagName:= . }}
                <div class="tab-pane fade show" id="tabs-{{ $tagName }}" role="tabpanel" aria-labelledby="tabs-{{ $tagName }}-tabFill">
                    {{ partial "organism-section-news-listing.html" (dict "context" $pageData "tabName" $tagName) }}
                </div>  
                {{ end }}
            {{ end }}
            
        {{ end }}
      </div>
</div>
<div class="columns-1">
    Pagination Show here
</div>