{{ $swiperName := "" }}
{{ if eq (.Scratch.Get "section") "news" }}
    {{ $swiperName = "newsSwiper" }}
{{ else if eq (.Scratch.Get "section") "casestudy" }}
    {{ $swiperName = "casestudySwiper" }}
{{ else if eq (.Scratch.Get "section") "sustainability" }}
    {{ $swiperName = "sustainabilitySwiper" }}
{{ end }}

{{ $class := "" }}
{{ if ne (.Scratch.Get "section") "news" }}
    {{ $class = "hidden" }}
{{ end }}

{{ $videoUrl := "" }}
{{ if eq (.Lang) ("en")}}
    {{ $videoUrl = "https://www.youtube.com/embed/r1MN5Bxzhbw?enablejsapi=1" }}
{{ else }}
    {{ $videoUrl = "https://www.youtube.com/embed/RHR05atIgYM?enablejsapi=1" }}
{{ end }}

{{ if or (eq (.Scratch.Get "section") "news") (eq (.Scratch.Get "section") "casestudy") (eq (.Scratch.Get "section") "sustainability") }}
    <div class="flex flex-col sm:flex-row">
        <div id="movie-thumbnail" class="{{ $class }} mb-8 sm:mb-0 sm:mr-8 w-auto sm:w-1/2 md:w-11/12 sm:max-w-[282px]">

            {{ .Scratch.Set "class" "w-full" }}
            {{ .Scratch.Set "format" "webp" }}
            {{ .Scratch.Set "hint" "smart" }}
            {{ .Scratch.Set "quolity" "90" }}
            {{ if eq (.Lang) ("en")}}
                {{ .Scratch.Set "src" "img/thumbnail_en.png" }}
                {{ else }}
                {{ .Scratch.Set "src" "img/thumbnail_ja.png" }}
            {{ end }}
            {{ .Scratch.Set "is-lazy" false }}
            
            {{ partial "atom-picture.html" . }}
            
            {{ .Scratch.Delete "class" }}
            {{ .Scratch.Delete "format" }}
            {{ .Scratch.Delete "hint" }}
            {{ .Scratch.Delete "quolity" }}
            {{ .Scratch.Delete "src" }}
            
        </div>

        <div #swiperRef="" class="swiper {{ $swiperName }} w-full">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage (.Scratch.Get "section") }}
                    {{ range .Pages }}
                        {{ partial "molecule-section-newtopic-slide.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="flex justify-center md:hidden lg:hidden mt-5">
            {{ partial "molecule-section-irnews-buttongroup.html" . }}
        </div>
    </div>

    <div id="movie-modal" class="fixed inset-0 w-screen h-screen bg-black bg-opacity-50 opacity-0 invisible z-50 transition select-none">
        <div class="absolute -translate-x-2/3 -translate-y-2/3 top-2/3 left-2/3 w-[80%] h-[80%] bg-white">
            <div id="modal-close" class="absolute top-5 right-5 cursor-pointer text-3xl">×</div>
            <iframe id="youtube-video" class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" width="73%" height="80%" src="{{ $videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

{{ else if eq (.Scratch.Get "section") "ir" }}
    <div class="mt-2">
        {{ .Scratch.Set "backgroundTheme" "black" }}
        {{ partial "molecule-section-irnews-pdf-listing.html" . }}
        {{ .Scratch.Delete "backgroundTheme" }}
    </div>
    <div class="flex justify-center md:hidden lg:hidden mt-5">
        {{ partial "molecule-section-irnews-buttongroup.html" . }}
    </div>

{{ else }}
    {{ partial "organism-section-contents.html" . }}
{{ end }}


