<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                zIndex: {
                    '-1': '-1',
                },
                height: {
                    '1440px': '90rem',
                },
                backgroundImage: {
                    'interaction_guide_hand': "url('../img/cursor_hand.svg')",
                    'interaction_guide_circle': "url('../img/clicked.svg')",
                },
                transitionDuration: {
                    '2000': '2000ms',
                }
            }
        }
    }
</script>
<style type="text/tailwindcss">
    {{ with resources.Get "css/tailwind.css" }}
    {{ .Content | safeCSS }}
    {{ end }}
</style>
