{{ $posts := ( where .Site.RegularPages "Section" "==" (.Scratch.Get "section") ) }}
{{ $postCount := len $posts }}
{{ if ne 0 $postCount }}
<div class="bg-white py-20 md:py-36 lg:py-36">
    <div class="md:pl-12 lg:pl-28 md:flex">
        <div class="md:w-1/4">
            {{ partial "organism-section-homepage-news-services-left.html" . }}
        </div>
        <div class="md:w-3/4 w-full pl-4 sm:pl-2 md:pl-4">
            {{ partial "organism-section-homepage-news-services-right.html" . }}
        </div>
    </div>
</div>
{{ else }}
{{ end }}
