<div class="w-full h-96 lg:h-[34rem] relative">
    <div class="absolute inset-0 bg-black opacity-30"></div>
    <div class="absolute inset-y-16 lg:inset-y-40 w-full text-center">
        {{ partial "organism-section-homepage-recruit.html" . }}
    </div>

    {{ $params := dict
        "class" "h-full w-full object-cover object-top"
        "format" "webp"
        "hint" "smart"
        "src" "img/recruit.jpg"
        "is-lazy" false
        "type" "full"
    }}
    {{ partial "atom-picture.html" (dict "params" $params) }}
</div>