
<div id="webgl" class="canvas-wrapper fixed z-10 h-full w-full">

  <!-- インタラクションガイド -->
  <div class="absolute bottom-20 transition ease-in-out duration-[2000ms] h-12 w-screen opacity-0 invisible" id="nav_block">
    {{ .Scratch.Set "class" "h-6 w-56 object-cover mx-auto" }}
    {{ .Scratch.Set "id" "nav_char" }}
    {{ .Scratch.Set "format" "webp" }}
    {{ .Scratch.Set "hint" "smart" }}
    {{ .Scratch.Set "src" "img/nav_char.png" }}
    {{ .Scratch.Set "type" "thumbnail" }}
    {{ .Scratch.Set "is-lazy" false }}

    {{ partial "atom-picture.html" . }}

    {{ .Scratch.Delete "class" }}
    {{ .Scratch.Delete "id" }}
    {{ .Scratch.Delete "format" }}
    {{ .Scratch.Delete "hint" }}
    {{ .Scratch.Delete "src" }}
    {{ .Scratch.Delete "type" }}
    {{ .Scratch.Delete "is-lazy" }}
    <div class="w-48 h-full mx-auto relative" id="anime_nav">
      <div class="h-6 w-6 top-0 left-3 bg-[url('../img/clicked.svg')] bg-cover absolute opacity-0" id="circle"></div>
    </div>
  </div>
    
</div>
        
          

<div class="w-full !h-[6000px] bg-black fixed inset-0 opacity-0 transition ease-in-out duration-300 invisible z-10" id="hidden_cover"></div>

<!-- vertexShader -->
<script id="js-vertex-shader" type="x-shader/x-vertex">
  attribute vec3 position;
  attribute vec3 color;
  attribute float alpha;
  attribute vec2 rand;
  uniform mat4 modelViewMatrix;
  uniform mat4 projectionMatrix;
  uniform float u_ratio;
  uniform float u_time;
  uniform float u_value;
  varying vec3 v_color;
  varying float v_alpla;
  vec3 finalPosition;

  vec3 pos;
  vec3 stable;
  uniform float move;
  uniform float time;
  uniform vec2 mouse;

  attribute float aSpeed;
  attribute float aOffset;
  attribute float aPress;
  attribute float aDirection;

  uniform float mousePressed;
  uniform float diffusionScale;
  uniform float circleScale;
  uniform float cameraZ;
  uniform float paramAlpha;

  void main() {
    v_color = color;

    stable = position;
    float dist = distance(stable.xy, mouse);
    float area = 1.0 - smoothstep(0.0, diffusionScale, dist);

    stable.x += circleScale * sin(0.035 * time * aPress) * aDirection * area * mousePressed;
    stable.y += circleScale * sin(0.035 * time * aPress) * aDirection * area * mousePressed;
    stable.z += 100.0 * cos(0.035 * time * aPress) * aDirection * area * mousePressed;

    float moveRange = 1.0;
    float moveRandX = moveRange * sin(u_time + rand.x * rand.y * 50.0);
    float moveRandY = moveRange * cos(u_time + rand.x * rand.y * 50.0);

    vec4 vertexDirection = vec4(normalize(position.xyz), 0.0);

    float power = 1.0;
    vec4 diffuse = -vertexDirection * power * u_ratio * rand.x;

    vec4 mvPosition = modelViewMatrix * vec4(stable, 1.0) + vec4(moveRandX, moveRandY, 1, 0) + diffuse; 

    gl_Position = projectionMatrix * mvPosition;
    gl_PointSize = (7.0 + u_value) * (cameraZ / -mvPosition.z);

    v_alpla = (alpha - paramAlpha) * (cameraZ/-mvPosition.z);
}

</script>

<!-- fragmentShader -->
<script id="js-fragment-shader" type="x-shader/x-fragment">
  precision mediump float;
  
  uniform sampler2D pointTexture;

  varying vec3 v_color;
  varying float v_alpla;

  void main() {
      vec2 temp = gl_PointCoord - vec2(0.5);
      float f = dot(temp, temp);
      if (f > 0.25 ) {
          discard;
      }

      gl_FragColor = vec4(v_color, v_alpla);
      gl_FragColor = gl_FragColor * texture2D( pointTexture, gl_PointCoord );
  }
</script>

{{ $opts := "" }}
{{ $opts2 := "" }}
{{ if hugo.IsProduction }}
    {{ $opts = dict "targetPath" "top.js" "minify" true }}
    {{ $opts2 = dict "targetPath" "worker.js" "minify" true }}
{{ else }}
    {{ $opts = dict "targetPath" "top.js" "minify" false }}
    {{ $opts2 = dict "targetPath" "worker.js" "minify" false }}
{{ end }}
{{ $built := resources.Get "js/top.js" | js.Build $opts }}
{{ $built2 := resources.Get "js/worker.js" | js.Build $opts2 }}
<script defer type="text/javascript" src="{{ $built2.RelPermalink }}"></script>
<script defer type="text/javascript" src="{{ $built.RelPermalink }}"></script>

