$SHADOW_COLOR: #dddddd;
$ACCENT_COLOR: #e50b7f;
$SELECT_COLOR: #fcc0e0;

$HEADER_BG_COLOR: #181818;
$HEADER_COLOR: #ffffff;

$FOOTER_BG_COLOR: #181818;
$FOOTER_COLOR: #ffffff;

$BODY_COLOR: #333333;
$BODY_BG_COLOR: #f3f4f0;
$CARD_BG_COLOR: #ffffff;

$IMAGE_BG_COLOR: #000000;