@tailwind base;
@tailwind components;

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  }

  .nav-tabs .nav-link.active {
    @apply border-b-4 border-black text-black font-bold;
  }
}

@layer components {
  .text-size-13 {
    font-size: 0.82rem;
  }
}

  .list-detail-container{
    max-width: 970px;
    margin: 0 auto;
  }
  
  .arrow-item{
    position: relative;
    padding-right: 30px;
  } 
 .arrow-item::before {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    width: 9px;
    height: 9px;
    content: '';
    border: 1px solid rgba(0,0,0,.3);
    border: 1px solid var(0,0,0,.3);
    border-top: 0;
    border-left: 0;
    transform: rotate(-45deg);
}

p {
  line-height: 1.75;
}

h1 {
  line-height: 1.25 !important;
  position: relative;
  margin-bottom: 60px !important;
  text-align: left;
}

h2 {
  line-height: 1.5 !important;
}

.lg\:text-7xl {
  line-height: 1.4 !important;
  position: static;
}

.lg\:text-5xl {
  line-height: 1.2 !important;
}

@media screen and (max-width: 768px) {
  .lg\:text-5xl {
    line-height: 1.4 !important;
  }
}