@tailwind base;
@tailwind components;

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  }

  .nav-tabs .nav-link.active {
    @apply font-bold text-black border-b-4 border-black;
  }
}

@layer components {
  .text-size-13 {
    font-size: 0.82rem;
  }
}

  .list-detail-container{
    max-width: 970px;
    margin: 0 auto;
  }
  
  .arrow-item{
    position: relative;
    padding-right: 30px;
  } 
 .arrow-item::before {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    width: 9px;
    height: 9px;
    content: '';
    border: 1px solid rgba(0,0,0,.3);
    border: 1px solid var(0,0,0,.3);
    border-top: 0;
    border-left: 0;
    transform: rotate(-45deg);
}

.lg\:text-7xl {
  line-height: 1.4 !important;
  position: static;
}

.lg\:text-5xl {
  line-height: 1.2 !important;
}

@media screen and (max-width: 768px) {
  .lg\:text-5xl {
    line-height: 1.4 !important;
  }
}

#editable_article table {
  font-size: 12px;
  border-collapse: collapse;
  margin-bottom: 12px;
}

#editable_article th {
  background-color: #641664;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
}

#editable_article td {
  border: 1px solid black;
  padding: 0.5rem;
  width: 42%;
}

#editable_article td:first-of-type {
  color: #641664;
  font-weight: bold;
  width: 16%;
}

#editable_article tr {
  background-color: white;
}
