<!DOCTYPE html>
<html class="scroll-smooth">
{{- partial "head.html" . -}}

<body {{ if .IsHome }} class="bg-black" {{ end }}>
  {{- partial "header.html" . -}}

  <!-- ローディング画面 -->
  <div id="loading" class="w-full h-full bg-black flex justify-center fixed z-40">
    <div class="animate-ping h-6 w-6 bg-white rounded-full inset-1/2 absolute z-10" id="loading_icon"></div>
  </div>

  <div id="swup" class="transition-fade">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>