<!DOCTYPE html>
{{ $lang:= print site.Language }}
<html lang="{{ $lang }}" class="scroll-smooth">
{{- partial "head.html" . -}}

{{ $class := "" }}
{{ if and (eq ( print site.Language) ("ja")) (.IsHome) }}
  {{ $class = "text-justify bg-black" }}
{{ else if eq ( print site.Language) ("ja") }}
  {{ $class = "text-justify" }}
{{ else if .IsHome  }}
  {{ $class = "bg-black" }}
{{ end }}


<body
  class="{{ $class }} prose-p:leading-[1.75] prose-headings:font-bold prose-strong:font-bold prose-em:italic">
  {{- partial "header.html" . -}}

  <div class="transition-fade">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>
