{{ define "main" }}
{{ partial "molecule-link.html" . }}
<main>
  <div class="bg-box">
    {{ with .Params.headingImg }}
    <img src="../img/{{ . }}"
         alt=""
         class="l-list wrapper-img">
    {{ else }}
    <img src="../img/top-01.jpg"
         alt=""
         class="l-list wrapper-img">
    {{ end }}
  </div>

  <h1 class="page-title l-wrapper">{{ .Title }}</h1>

  <div class="l-list l-wrapper">

    <ol class="breadcrumbnav">
      {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ol>

    {{ .Content }}

    {{ range .Sections }}
    <section class="list-section">
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </section>
    {{ end }}
  </div>
</main>

{{ end }}
