.bg-box {
  background-color: $IMAGE_BG_COLOR;
}
.wrapper-img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  opacity: 0.5;
}
.page-title {
  position: relative;
  @include font-size($FS1);
  margin-top: -10rem;
  color: #fff;
  z-index: 1;
}