.header {
  display: flex;
  align-items: center;
  background-color: $HEADER_BG_COLOR;
  box-shadow: $HEADER_BG_COLOR 0 0 2rem;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem 0 4rem;
    @include media-query(m) {
      padding: 0 4rem 0 2rem;
    }
  }
  &-logo {
    a {
      vertical-align: middle;
    }
  }
  &-nav ul {
    display: flex;
    justify-content: space-around;
    
    li {
      margin: 0 1rem;
    }
    a {
      color: $HEADER_COLOR;
      text-decoration: none;
      @include media-query(m) {
        @include font-size($FS6);
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &-lang {
    color: $HEADER_COLOR;
  }
}