{{ define "main" }}
    
    {{ if .Page.Params.headerImage }}
    <div class="mt-12 text-center relative overflow-hidden bg-no-repeat bg-cover">
        {{partial "molecule-section-header-image.html" . }}
    </div>
    {{ else }}
        {{ if .Page.Params.headerVideo }}
            <div class="mt-12 text-center relative overflow-hidden bg-no-repeat bg-cover">
                {{partial "molecule-section-header-video.html" . }}
            </div>
        {{ end }}
    {{ end }}
    <div class="container mx-auto px-5 lg:px-40 py-10 {{ if .Page.Params.headerVideo }} {{ else }} pt-20 {{ end  }}">
        {{ partial "breadcrumbs.html" . }}
    </div>
    <div class="p-5 container lg:px-40 mx-auto flex">
        <div class="hidden md:block md:w-1/3 ">
            {{ partial "organism-section-news-left.html" . }}
        </div>
        <div class="md:w-2/3 bg-white prose max-w-none">
            {{ if .Page.Date }}
                <span class="text-xs text-gray-400">{{ dateFormat "2006-01-02" .Page.Date }} {{ if eq (.Page.Lang) ("ja") }} (公開日) {{ else }} (publication date) {{ end }}</span>
            {{ end }}
            {{ if .Page.Params.newsDescription }}
                <h1 class="text-left text-3xl font-extrabold pt-4">{{ .Page.Params.newsDescription }}</h1>
            {{ end }}
            <hr>
            {{ if .Page.Params.shareLink }}
                {{ partial "molecule-section-share-social-media-link.html" . }}
            {{ end }}
            {{ .Content }}
        </div>
    </div>
{{ end }}