{{ define "main" }}
    {{ if .Page.Params.headerImage }}
    <div class="mt-12 text-center relative overflow-hidden bg-no-repeat bg-cover h-96 md:h-[34rem] lg:h-[34rem]">
        {{partial "molecule-section-header-image.html" . }}
    </div>
    {{ else }}
        {{ if .Page.Params.headerVideo }}
        <div class="mt-12 text-center relative overflow-hidden bg-no-repeat bg-cover h-96 md:h-[34rem] lg:h-[34rem]">
            {{partial "molecule-section-header-video.html" . }}
        </div>
        {{ end }}
    {{ end }}
    <div class="container mx-auto px-5 lg:px-28 py-10 {{ if .Page.Params.headerVideo }} {{ else }} pt-20 {{ end  }}">
        {{ partial "breadcrumbs.html" . }}
    </div>
    <div class="container mx-auto px-5 lg:px-28 py-5 mb-24 ">
        <div class="">
            <h1 class="text-4xl font-bold mb-8">{{ .Title }}</h1>
            {{ range .Pages }}
                <div class="mb-40">
                    <h2 class="text-3xl font-bold mt-12 mb-6">{{ .Title }}</h2>
                    {{ .Page.Params.text | markdownify }}
                    {{ .Content }}
                    {{ if eq .Page.Params.type ("list")}}
                        {{ .Scratch.Set "section" "services" }}
                        {{ with .Site.GetPage "section" (.Scratch.Get "section") }}
                            <div class="my-32">
                                {{ partial "organism-section-cards-part.html" . }}
                            </div>
                        {{ end }}
                        {{ .Scratch.Delete "section" }}
                    {{ else }}
                        {{ range .Pages }}
                        <div class="my-20">
                            <h3 class="text-2xl font-bold mb-6">{{ .Title }}</h3>
                            {{ .Page.Params.text | markdownify }}
                            <img src="{{ .Permalink }}{{ .Page.Params.img }}" class="w-auto h-52 md:h-96 object-cover mt-10" alt="Image is not Available !">
                        </div>
                        {{ end }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
    {{/*  <div class="container mx-auto px-5 lg:px-40 py-5 mb-24">
        {{ .Scratch.Set "section" "reason" }}
            <div class="text-left py-5">
                {{ partial "atom-services-listpage-title.html" . }}
            </div>
            {{ partial "organism-section-contents.html" . }}
        {{ .Scratch.Delete "section" }}
    </div>  */}}
{{ end }}
